@import '../../theme.scss';


.esqueci-senha{
    width: 100%;
    height:  100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    background-color: var(--secondary);
    color: white;

    @media screen and (min-width: 764px) {
        align-items: center;
    }


    button{
        @media screen and (min-width: 764px) {
            width: 200px;
        }
    }

    input{
        font-size: 1em;

        @media screen and (min-width: 764px) {
            width: 43vw;
        }
    }

    input[disabled]{
        font-size: 1.5em;
        color: var(--fiz);
        background-color: transparent;
        // border: none;
        // border-bottom: 1px solid white;
    }
}



.input-error{
    color: #ff8888;

}

.input-success{
    color: var(--fiz);
    

    span{
        font-size: 1.5em;
        font-weight: 700;
    }
}

.btn-back{
    background-color: var(--smooth);
    color: var(--primary);
}