<nav class="menu" *ngIf="logged">

    <button class="menu__item" icon="home" routerLinkActive="menu__item--active" routerLink="/home">
        <span>Registros</span>
    </button>

    <!-- <button class="menu__item" icon="add" routerLinkActive="menu__item--active" routerLink="/novo-registro">
        <span>Criar registro</span>
    </button> -->

    <button class="menu__item"  icon="historico" routerLink="/historico-geral" routerLinkActive="menu__item--active">
        <span>Histórico</span>
    </button>

    <button class="menu__item" icon="config" routerLink="/configuracao" routerLinkActive="menu__item--active">
        <span>Configurações</span>
    </button>
    
</nav>