<header>
        <img src="../../assets/icones/icon__historico-white.svg" alt="">
        <h2>Historico geral</h2>
</header>

<main class="historico-g">

        <div class="historico-g__item"  *ngFor="let historico of historicoGeral">
                <div class="historico-g__icon" class="{{ historico.cor }}">
                        <img class="" src="../../assets/icones/icon__{{ historico.icone }}.svg" alt="">
                </div>

                <div class="historico-g__content">
                       
                        <h3 class="historico-g__titulo">{{ historico.titulo }}</h3>

                        <p [ngClass]="{checked: historico.status == 'check',
                                       vished: historico.status == 'vish'}" 
                                       class="historico-g__status">{{ historico.status }}</p>
                        <p class="historico-g__data">{{ historico.data }}</p>
                        <p class="historico-g__horario">{{ historico.horario }}</p>
                </div>

                <br>
        </div>

</main>