<div class="cadastro">
    <form>
        <table>
            <td>
                <h1>Cadastre-se</h1>
                <label for="nome">Nome</label>
                <input type="text" name="nome">
            </td>
            <td>
                <label for="data">Data de nascimento</label>
                <input type="date" name="data">
            </td>
            <td>
                <label for="email">E-mail</label>
                <input type="email" name="email">
            </td>
            <td>
                <label for="senha">Senha</label>
                <input type="password" name="senha">
            </td>
            <td>
                <button>Criar conta</button>
            </td>
        </table>
    </form>
</div>