.card-registro {
    background-color: var(--white);
    width: 300px;
    height: 125px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0px 9px 25px -11px #00000040;
    position: relative;
    margin-left: 50px;
    justify-content: end;

    &__content {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4px;

        .content__info{

            display: flex;
            justify-content: flex-start;
            gap: 8px;

            span{
                border: 1px solid #c9c9c9;
                color: var(--secondary);
                padding: 4px 12px;
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;

                img{
                    height: 16px;
                }
            }
        }
    }

    &__titulo {
        max-height: 55px;
        overflow: hidden;
    }

    &__icone {
        width: 125px;
        height: 125px;
        position: absolute;
        left: -50px;
        border-radius: 125px;
        overflow: hidden;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c1cfc5;
        transition: transform .2s ease;
        z-index: 0;

        img {
            height: 38px;
            position: absolute;
            z-index: 10;
            transition: 0.4s;
            user-select: none;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }


    .btn-options {
        height: 30px;
        width: 15px;
        border: none;
        background-image: url(../../../assets/icones/icon__options.svg);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 8px;
        right: 8px;
        opacity: 0.3;
    }

    .btn-historico {
        position: absolute;
        bottom: 0;
        right: 0px;
        width: 35px;
        height: 35px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 8px 0;
        backdrop-filter: brightness(.93);
        background: transparent;

        &::before {
            content: "";
            width: 25px;
            height: 15px;

            background-image: url(../../../assets/icones/icon__options-2.svg);
            position: relative;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            // margin-right: 4px;
            user-select: none;
        }
    }

    .container-btn{
        width: 125px;
        height: 125px;
        position: absolute;
        left: -50px;
        border-radius: 125px;
        overflow: hidden;
        
    }

    .btn {
        @mixin btn($color, $side) {
            width: 120px;
            height: 120px;
            border-radius: 120px;
            border: none;
            background-color: $color;
            font-weight: 700;
            transition: all .6s ease;
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after{
                content: '';
                height: 15px;
                width: 15px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: .3;
                transition: all .6s ease;
                
            }

        }

        &--fiz {
            @include btn(var(--fiz), "left");
            transform: translate(-155px, 155px);

            &::after{
                background-image: url(../../../assets/icones/icon__fiz.svg);
            }
        }

        &--vish {
            @include btn(var(--vish), "right");
            transform: translate(155px, -155px);

            &::after{
                background-image: url(../../../assets/icones/icon__vish.svg);
            }
        }
    }

    &--selected {

        .btn{
            &--fiz{
                transform: translate(-58px, 58px);

                &::after{
                    transform: translate(28px, -28px);
                }
            }
            &--vish{
                transform: translate(58px, -58px);

                &::after{
                    transform: translate(-28px, 28px);
                }
            }
        }

        .container-btn{
            transform: scale(1.1);
            z-index: 2;
            transition: transform .2s ease;
        }
        
        .card-registro__icone {
            z-index: 0;
            transform: scale(1.1);

            img {
                height: 28px;
                filter: contrast(0.5) brightness(9.5);
                transition: all .4s;
            }

            &::after {

                background-color: var(--secondary);

            }
        }
    }
}



.fiz {
    background-color: #e9e9e9;

    .content__info{
        span{
            color: #949494;
        }
        img{
            opacity: .5;
        }
    }

    .card-registro__icone {
        &::after {
            background-color: transparent;
        }



        background-color: #d4d4d4;
        border: 4px solid var(--fiz);


        img {
            opacity: 0.3;
        }
    }

    .card-registro__titulo {
        color: #8d8d8d;
        text-decoration: line-through;
    }

    .btn{
        &--fiz{
            transform: translate(-85px, 0px);

            &::after{
                transform: translate(40px, 0px);
            }
        }
        &--vish{
            transform: translate(158px, -58px);
        }
    }
}

.vish {
    background-color: #e9e9e9;

    .content__info{
        span{
            color: #949494;
        }
        img{
            opacity: .5;
        }
    }

    .card-registro__icone {
        background-color: #d4d4d4;
        border: 4px solid var(--vish);


        &::after {
            background-color: transparent;
        }

        img {
            opacity: 0.3;
        }
    }

    .card-registro__titulo {
        color: #8d8d8d;
        text-decoration: line-through;
    }

    .btn{
        &--vish{
            transform: translate(-85px, 0px);

            &::after{
                transform: translate(40px, 0px);
            }
        }
        &--fiz{
            transform: translate(-150px, 0px);
        }
    }
}

@mixin colorIcone($color) {
    &::after {
        background-color: $color;
    }
}

.blue {
    @include colorIcone(var(--blue));
}
.yellow {
    @include colorIcone(var(--yellow));
}
.red {
    @include colorIcone(var(--red));
}
.green {
    @include colorIcone(var(--green));
}
.purple {
    @include colorIcone(var(--purple));
}
.orange {
    @include colorIcone(var(--orange));
}

.btn-anim {
    &--fiz {

        background-color: #d4d4d4;

        img {
            opacity: 0.3;
        }

        &::after {
            background-color: transparent;
        }

        .btn{
            &--fiz{
                transform: translate(-85px, 0px);

                &::after{
                    transform: translate(40px, 0px);
                }
            }
            &--vish{
                transform: translate(158px, -58px);
            }
        }
        
    }

    &--vish {
        background-color: #d4d4d4;

        img {
            opacity: 0.3;
        }

        &::after {
            background-color: transparent;
          
        }

        .btn{
            &--vish{
                transform: translate(-85px, 0px);

                &::after{
                    transform: translate(40px, 0px);
                }
            }
            &--fiz{
                transform: translate(-150px, 0px);
            }
        }
       
        
    }

}
