<div #teste class="card-registro"   [ngClass]="{'card-registro--selected': selected, 'fiz': status === 'fiz' && !selected , 'vish': status === 'vish' && !selected}">
        
    <!-- <button class="btn-options"></button> -->

    
    <div class="container-btn">
        <button class="btn--fiz" (click)="onChangeStatus('fiz', $event.target)" ></button>
        <button class="btn--vish" (click)="onChangeStatus('vish', $event.target)" ></button>
    </div>

    <button class="card-registro__icone {{ cor }}" (click)="selected = !selected" (blur)="selected = false">
        
        
        <img src="../../../assets/icones/icon__{{ icone }}.svg">
        
        
    </button>

    <div class="card-registro__content">

        <h3 class="card-registro__titulo">{{ titulo }}</h3>

        <div class="content__info">
            <span *ngIf="status == 'waiting' || selected" class="info__repeticao">
                <img src="../../../assets/icones/icon__repeat.svg">
                {{ repeticao }}
            </span>
            <span *ngIf="status == 'waiting' || selected"  class="info__horario">
                <img src="../../../assets/icones/icon__horario.svg">
                {{ horario }}
            </span>

            <span *ngIf="status !== 'waiting' && !selected" class="info__proxima">
                <img src="../../../assets/icones/icon__arrow-right.svg">
                {{ proximoRegistro | date: 'dd/MM/yy, HH:mm'}}
            </span>
        </div>

    </div>

    <button class="btn-historico" [routerLink]="['/registro', key]"></button>

</div>