<div class="criar-registro">

    <header class="{{novoRegistro.cor}}">

        <!-- <button class="btn__alterar-cor">Alterar cor</button>
        <button class="btn__alterar-icone">Alterar icone</button> -->
        <img src="../../../assets/icones/icon__{{ novoRegistro.icone }}.svg">
    </header>

    <!-- <h1>Criar registro</h1> -->
<br>
    <h2>Título</h2>
    <input placeholder="ex: Apagar as luzes..." type="text" name="titulo" id="titulo" maxlength="72" [(ngModel)]="novoRegistro.titulo">
<br>
<h4>Cor</h4>
    
    <div class="criar-registro__cores">

        <div class="cores__row">    
        <button  #btnCor  class="{{ cor }}"
        value="{{ cor }}" 
        [ngClass]="{selected: selectedColor == btnCor.value}"
        (click)="novoRegistro.cor = btnCor.value; selectedColor =  btnCor.value" 
        *ngFor="let cor of registrosSet.colors"
        ></button>
        </div>

    </div>
    <br>
    
    <h4>Ícone</h4>
    <div class="criar-registro__icones">

        <div class="criar-registro__row">
            <button #btnIcone
            [ngClass]="{selected: selectedIcon == btnIcone.value}"
            value="{{ icon }}"
            (click)="novoRegistro.icone = btnIcone.value; selectedIcon =  btnIcone.value"
            class="btn-criar-registro__icone" 
            *ngFor="let icon of registrosSet.icons" >
                <img src="../../../assets/icones/icon__{{ icon }}.svg" alt="">
            </button>
        </div>
       
    </div>

    <br>

<div class="criar-registro__set-program">

    <div>
        <h4>Frequência:</h4>
        <select #frequenciaSelect name="frequencia" id="frequencia" (change)="selectedFrequencia = frequenciaSelect.value">
            <option *ngFor="let frequencia of registrosSet.frequencia" value="{{ frequencia }}">{{ frequencia }}</option>
        </select>
    </div>

    <div>
        <h4>Horário:</h4>
        <input #horarioSelect (change)="selectedHorario = horarioSelect.value" value="00:00" type="time">
    </div>

</div>

<!-- <div class="criar-registro__set-visual">
    <div>
        <h4>Cor:</h4>
        
    </div>
    <div>
        <h4>icone:</h4>
    </div>
</div> -->
<br>
    <button class="btn-criar-registro" (click)="createRegistro()" [routerLink]="['']">Criar</button>

</div>



<!-- 
<div class="criar-registro">

    <header class="{{novoRegistro.cor}}">
        <img src="../../../assets/icones/icon__{{ novoRegistro.icone }}.svg">
    </header>



    <h1>Criar registro</h1>
    <br>

    <h4>Título</h4>
    <input placeholder="ex: Apagar as luzes..." type="text" name="titulo" id="titulo" maxlength="72" [(ngModel)]="novoRegistro.titulo">
    <br>

    <h4>Cor</h4>
    
    <div class="criar-registro__cores">

        <div class="cores__row">    
        <button  #btnCor 
        value="{{ cor }}" 
        [ngClass]="{selected: selectedColor == btnCor.value}"
        (click)="novoRegistro.cor = btnCor.value; selectedColor =  btnCor.value" 
        *ngFor="let cor of registrosSet.colors"
        ><span class="{{ cor }}"></span>{{ cor }}</button>
        </div>

    </div>
    <br>


    <h4>Ícone</h4>
    <div class="criar-registro__icones">

        <div class="criar-registro__row">
            <button #btnIcone
            [ngClass]="{selected: selectedIcon == btnIcone.value}"
            value="{{ icon }}"
            (click)="novoRegistro.icone = btnIcone.value; selectedIcon =  btnIcone.value"
            class="btn-criar-registro__icone" 
            *ngFor="let icon of registrosSet.icons" >
                <img src="../../../assets/icones/icon__{{ icon }}.svg" alt="">
            </button>
        </div>
       
    </div>

    <br>

    <h4>Frequência</h4>
    <select name="frequencia" id="frequencia">
        <option *ngFor="let frequencia of registrosSet.frequencia" value="{{ frequencia }}">{{ frequencia }}</option>
    </select>

    <br>
    <button class="btn-criar-registro" (click)="createRegistro()" [routerLink]="['']">Criar</button>

</div> -->