<div class="registro-detalhes">

    <header class="registro-detalhes__header {{ registro?.cor }}">

        <div class="header__title"> 
            <button class="btn-back" routerLink="/home"></button>
            <h2>Detalhes</h2>
        </div>

        <i class="{{ registro?.cor }}">
            <img src="../../../../assets/icones/icon__{{ registro?.icone }}.svg" alt="">
        </i>
        <h3> {{ registro?.titulo }}</h3>

        <div class="btn-action__container">
            <button class="btn-edit"></button>
            <button  class="btn-delete"></button>
        </div>
    </header>
    
    <div class="registro-detalhes__infos">

        <div class="infos__tags">
            <span class="">
                <img src="../../../assets/icones/icon__repeat.svg">
                {{ registro?.horario }}

            </span>
            <span>
                <img src="../../../assets/icones/icon__horario.svg">
                {{ registro?.repeticao }}
            </span>
        </div>
        <!-- <p>Status atual: {{ registro?.status }}</p> -->
        <!-- <p>ID: {{ id }}</p> -->
    </div>

    <div class="registro-detalhes__tabs">
        <div class="tab__registros registro-detalhes__tabs--active">
            Registros
        </div>
        <div class="tab__estatisticas">
            Estatísticas
        </div>
    </div>

    <table class="registro-detalhes__historico">
        <span *ngIf="registro?.historico == null">Não há histórico para esse registro.</span>

            <tr>
                <td>Status:</td>
                <td>Data:</td>
            </tr>

            <tr class="historico__item" *ngFor="let historico of historicoDB">
                <td>
                    {{ historico.status }}
                </td>
                <td>
                    {{ historico.dataCriacao | date: 'short' }}
                </td>
            </tr>

    </table>

</div>