<div class="registro-detalhes">

    <div class="modal-delete" *ngIf="modalDelete">
        <div class="modal-delete__container">

            <img src="../../../../assets/draws/delete-animated.svg">
            <h3>Tem certeza que deseja deletar o registro {{registro.titulo}}?</h3>
            <p>Esta ação não poderá ser desfeita.</p>
            <button  class="btn-delete__confirm" (click)="onDelete()">Deletar registro</button>
            <button  class="btn-delete__cancel" (click)="modalDelete = false">Cancelar</button>
        </div>
    </div>

    <header class="registro-detalhes__header {{ registro?.cor }}">

        <div class="header__title"> 
            <button class="btn-back" routerLink="/home"></button>
            <h2>Detalhes</h2>
        </div>

        <i class="{{ registro?.cor }}">
            <img src="../../../../assets/icones/icon__{{ registro?.icone }}.svg" alt="">
        </i>
        <h3> {{ registro?.titulo }}</h3>

        <div class="btn-action__container">
            <button class="btn-edit" [routerLink]="['/editar-registro', id]"></button>
            <button  class="btn-delete" (click)="modalDelete = true"></button>
        </div>
    </header>
    
    <div class="registro-detalhes__infos">

        <div class="infos__tags">
            <span class="">
                <img src="../../../assets/icones/icon__repeat.svg">
                {{ registro?.horario }}

            </span>
            <span>
                <img src="../../../assets/icones/icon__horario.svg">
                {{ registro?.repeticao }}
            </span>
        </div>
        <!-- <p>Status atual: {{ registro?.status }}</p> -->
        <!-- <p>ID: {{ id }}</p> -->
    </div>

    <div class="registro-detalhes__tabs">
        <div class="tab__registros" (click)="tab = 'registros'" [ngClass]="{'registro-detalhes__tabs--active': tab === 'registros'}">
            Histórico
        </div>
        <div class="tab__estatisticas" (click)="tab = 'estatisticas'" [ngClass]="{'registro-detalhes__tabs--active': tab === 'estatisticas'}">
            Estatísticas
        </div>
    </div>

    <table class="registro-detalhes__historico" *ngIf="tab === 'registros'">
        <span *ngIf="registro?.historico == null">Não há histórico para esse registro.</span>

            <tr class="historico__item" *ngFor="let historico of historicoDB">
                <td>
                    <div class="status--vish" *ngIf="historico.status === 'vish'">
                        <img src="../../../../assets/icones/icon__vish.svg">
                    </div>
                    <div class="status--fiz" *ngIf="historico.status === 'fiz'">
                        <img src="../../../../assets/icones/icon__fiz.svg">
                    </div>
                </td>
                <td>
                    {{ historico.dataCriacao | date: 'short' }}
                </td>
            </tr>

    </table>

    <div class="registro-detalhes__estatisticas" *ngIf="tab === 'estatisticas'">
        <h3>Frequência:</h3>
        <div class="detalhes-frequencia">
            <span *ngFor="let pill of historicoDB" class="frequencia-pill" [ngClass]="{'fiz': pill.status == 'fiz', 'vish': pill.status == 'vish'}"></span>
        </div>
    </div>

</div>