<main #idRegistro id="{{ id }}">
    <header class="{{ registros[idRegistro.id].cor }}">
        <img src="../../../assets/icones/icon__{{ registros[idRegistro.id].icone }}.svg" alt="">
        <h2>{{ registros[idRegistro.id].titulo }}</h2>
        <!-- <p>{{ registroAtual?.id }}</p> -->
        <b>Próximo:</b>
        <p>{{ registros[idRegistro.id].proximaData | date: 'd/MM/yy'}} - {{ registros[idRegistro.id].horario }}</p>
       
        
    </header>
    
    
    <h3>historico do registro:</h3>
    <div class="historico-registro__item" *ngFor="let historico of registros[idRegistro.id].historico">
        <div 
        [ngClass]="{checked: historico.status == 'check',
                    vished: historico.status == 'vish'}"
        class="historico-registro__status">{{ historico.status }}</div>
        <p class="historico-registro__data">{{ historico.data }}</p>
        <p class="historico-registro__horario">{{ historico.horario }}</p>
        <br>
    </div>

    <p *ngIf="registros[idRegistro.id].historico == ''">Não há historico de registros</p>
    
</main>
