<div class="login">

    <form>
        <h3>Login</h3>
        <label for="email">E-mail</label>
        <input type="text" #email>
        <label for="senha">Senha</label>
        <input type="text" #senha>
        <button (click)="onSingin(email.value, senha.value)">Sing in</button>
    </form> 
    
    <!-- <form>
        <h3>Sing up</h3>
        <label for="email">E-mail</label>
        <input id="email" type="text" #emailSingup>
        <label for="senha">Senha</label>
        <input id="senha" type="password" #senhaSingup>
        <button (click)="onSingup(emailSingup.value, senhaSingup.value)">Sing up</button>
    </form> -->
    
</div>
<p>
    logged: {{ isSingedIn }}
</p>

