<div  class="c-registros">

<header>
    <button class="btn-novo-registro" [routerLink]="['/criar']">Criar registro</button>
</header>

<main>
    <!-- [ngStyle]="{animationDelay: '0.' + registro.id + 's'}" -->
    <p *ngIf=" registros.length == 0">Não há nennhum registro.</p>
<section #idRegistro 
         id="{{ registro.id }}"
         class="c-registro" 
         *ngFor="let registro of registros" 
         [ngClass]="{
                    checked: registro.status === 'check',
                    vished: registro.status === 'vish'
                   }">
                  
    <div class="c-registro__icon {{ registro.cor }}" 
         (click)="registro.selected = !registro.selected">
    <img src="../../assets/icones/icon__{{registro.icone }}.svg">
    </div>

    <div class="c-registro__content" (click)="registro.selected = 'selected'">

        <h2 class="c-registro__title"> {{ registro.titulo }}</h2>

        <div class="btn-registro__container" *ngIf="registro.selected || registro.status == 'check' || registro.status == 'vish'">
            <button class="btn-registro__check" 
                    (click)="registro.status = 'check'; setHistorico(idRegistro.id)"
                    *ngIf="registro.status != 'vish'">

                    Check!

            </button>
            <button class="btn-registro__vish" 
                    (click)="registro.status = 'vish'; setHistorico(idRegistro.id)"
                    *ngIf="registro.status != 'check'">

                    Vish...

            </button>
            <span class="registro__proxima-data" *ngIf="registro.status != 'waiting'">Próximo: {{ registro.proximaData }} às {{ registro.horario }}</span>
        </div>
    </div>
    
    <button class="btn-registro__historico" [routerLink]="['registro', idRegistro.id]">Ver histórico</button>
    
    <button class="btn-registro__options" (click)="registro.options = !registro.options"></button>


    <div *ngIf="registro.options" class="registro-menu">
        <div [ngClass]="{blocked: registro.status == 'waiting'}" class="registro-menu__option" (click)="desfazerRegistro(idRegistro.id)">
            <img src="../../assets/icones/icon__desfazer-color.svg">
            <p>Desfazer</p>
        </div>
        <div class="registro-menu__option" (click)="excluirRegistro(idRegistro.id)">
            <img src="../../assets/icones/icon__remover-color.svg">
            <p>Excluir</p>
        </div>
    </div>
    
</section>
</main>
</div>