<div class="novo-registro">

    <form>
        <header>
            <i>
                <img src="./assets/icones/icon__calendar.svg" alt="">
            </i>
            <input type="text" placeholder="Insira o nome do seu registro">
        </header>

        <h3>Icone</h3>
        <div class="icons-container">
            <input style="background-image: url(./assets/icones/icon__bag.svg);" type="radio" name="icon" value="cat">
            <input style="background-image: url(./assets/icones/icon__desktop.svg);" type="radio" name="icon" value="desktop">

        </div>

        <h3>Cor</h3>
        <div class="colors-container">

                <input type="radio" name="color" value="blue">
                <input type="radio" name="color" value="yellow">
        </div>

        <h3> Repetição </h3>
        <select>
            <option value="diario">Diário</option>
            <option value="semanal">Semanal</option>
            <option value="mensal">Mensal</option>
            <option value="não repetir">Não repetir</option>
          </select>
        <h3> Horário </h3>
    </form>
</div>