<main class="login">

    <h3 class="titles-draw">
        <span [ngClass]="{'appear': title === 0}">Tirei a panela do fogo?</span>
        <span [ngClass]="{'appear': title === 1}">Desliguei o ferro?</span>
        <span [ngClass]="{'appear': title === 2}">Puts, e aquele negócio?</span>
        <span [ngClass]="{'appear': title === 3}">Será que eu fiz?</span>
        <span [ngClass]="{'appear': title === 4}">E se eu não fiz?</span>
        <span [ngClass]="{'appear': title === 5}">E agora?</span>                
    </h3>
    <div class="draw">
        <img src="../../../assets/draws/title-screen_animated.svg" >
    </div>

    <form>
        <table [formGroup]="formLogin">
            <h3>Login:</h3>
            <td>
                <!-- <label for="email">E-mail:</label> -->
                <input  type="text" #email placeholder="E-mail" formControlName="email">
                <span class="input-error" *ngIf="formLogin.controls['email'].hasError('email')">O e-mail inserido não é válido.</span>
                <span class="input-error" *ngIf="formLogin.controls['email'].hasError('not-found')">Usuário não encontrado.</span>

            </td>
            <td>
                <!-- <label for="senha">Senha:</label> -->
                <input  type="password" placeholder="Password" #senha value="asdqwe" formControlName="senha">
                <span class="input-error" *ngIf="formLogin.controls['senha'].hasError('wrong-password')">Senha incorreta.</span>
                <span class="input-error" *ngIf="formLogin.controls['senha'].hasError('too-many-requests')">Muitas tentativas de login. Tente novamente mais tarde.</span>

                <a>Esqueci a senha</a>
            </td>
            
            <td>
                <button class="btn-login"  (click)="onLogin(email.value, senha.value); $event.preventDefault();">Login</button>
                <p>Ainda nao tem conta? <span routerLink="/cadastro">Cadastre-se</span></p>
            </td>
            <td>
                <p class="ou">ou</p>
                <button type="button"  class="btn-google" (click)="loginGoogle()">
                    <img src="../../../assets/icones/icon__google.svg" >
                    Login com a conta google
                </button>
                <!-- <button type="outline" color="secondary">Entrar como anônimo</button> -->
            </td>
        </table>

    </form>
</main>