@import './app/registros/registros.component.scss';
@import './app/shared/menu-nav/menu-nav.component.scss';

:root{
    --white: #fff;
    --black: #000;
    --primary: rgb(62 57 80);
    --secondary: #e3e;
    --bg: #DDDDDD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button{
    cursor: pointer;
}


.checked{
    background-color: #8ceba1;
}

.vished{
    background-color: #ffa9a9;
}



.yellow{
    background-color: rgb(252, 252, 160);
}

.blue{
    background-color: rgb(169, 169, 255);
}

.pink{
    background-color: rgb(255, 161, 208);
}

.green{
    background-color: rgb(160, 252, 172);
}

.red{
    background-color: rgb(255, 169, 169);
}
