/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --primary: rgb(62 57 80);
    --secondary: rgb(107, 103, 126);
    --accent: #ffffff;
    --smooth: #e7e7e7;
    --white: #ffffff;


    --blue: #92c8e7;
    --yellow: #fff6a1;
    --red: #ffa4a4;
    --green: #92e7ac;
    --purple: #a292e7;
}